.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group{"data-group_id": @group.id}
        = @group.name
      %ul.main-header__left-box__member-list
        Member：
        - @group.users.each do |user|
          %li.main-header__left-box__member-list__member= user.name
    = link_to edit_group_path(@group) do
      .main-header__edit-btn Edit
  .messages
  = render @messages
  .form
    %form{class: "new_message"}
      .input-box
        %input.input-box__text{placeholder: "type a message", name: ""}
        %label.input-box__image
          = icon("fa", "image")
          %input.input-box__image__file{type: "file"}
      %input.submit-btn{value: "Send"}


    -# = form_for [@group, @message] do |f|
    -#   .input-box
    -#     = f.text_field :content, placeholder: "type a message"
    -#     = f.label :image do
    -#       = icon('fa', "image")
    -#     = f.file_field :image
    -#     = f.submit "Send"
